:root{
  --background-color: #080B0D;
  --font-color: #F2E8DC;
  --font-contrast-color: #D9CCC1;
  --contrast-color: #192126;
  --input-background: #D9D9D9;
  --input-selected-background: #F2F2F2;
  --link-color: #00B35D;
  --link-hover-color: #095F35;
}
::-webkit-scrollbar{
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
input[type = text]{
  appearance: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}